:root {

	color: white;
	font-size: 16px;

	--primary-color: #efeeef;
	--secondary-color: rgb(60, 54, 122);
	--accent: rgb(32, 32, 32);
	--text-color: rgb(255, 255, 255);
	--box-size: 5rem;
	--button-transition: 1000ms;
}

body{

	background: var(--primary-color);
	color: var(--text-color);
	margin: 0px;
	padding: 0px;
	line-height: 1.5rem;
	font-family: 'Courier New', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 1.2rem;

}

body > * { /* This just sets the default; specificty overrides*/

	padding: 0px;
	margin: 0px;

}

body::-webkit-scrollbar{

	width: 0.5rem;

}
body::-webkit-scrollbar-track{

	background: var(--secondary-color);

}
body::-webkit-scrollbar-thumb{

	color: var(--accent)

}

.accent-glow{

	text-shadow: 0px 0px 10px var(--accent);

}

.drop-glow{

	filter: drop-shadow(0px 0px 8px var(--accent));
	color: var(--accent);

	transition: all var(--button-transition) ease-in-out;
	transform: translateZ(0); /*enables hardware acceleration*/

}

.container{

	display: block;
	height: 100vh;
	width: 100vw;
	min-width: 1080px;
	margin: 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.row{

	display: block;

}

.button-item{

	display: inline-block;

	margin: 0.5rem;
	padding: 0px;

}

.label{

	display: inline;
	position: relative;
	cursor: pointer;
	height: 5rem;
	width: 5rem;
	background-color: var(--primary-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateZ(0); /*enables hardware acceleration*/

	transition: all var(--button-transition) ease-in-out;

}

.label{

	box-shadow: -1px -1px 3px rgba(255, 255, 255, 1),
				2px 2px 6px rgba(209, 205, 199, 0.6);

}

svg{

	height: 30%;
	width: 30%;

}

input{

	display: none;

}










.container-two{

	width: 100vw;

	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.button-x:hover{

	cursor: pointer;

}

.rectlabel{

	display: inline;
	position: relative;
	cursor: pointer;
	height: 4rem;
	width: 16rem;
	background-color: var(--primary-color);
	border-radius: 10rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	transition: all var(--button-transition) ease-in-out;

}

.rectlabel{

	margin: 1rem;

	box-shadow: -1px -1px 3px rgba(255, 255, 255, 1),
				2px 2px 6px rgba(209, 205, 199, 0.6);

}

.rectbox{

	display: none;

}

.shadow-anim{

	box-shadow: -1px -1px 3px rgba(255, 255, 255, 1),
				2px 2px 6px rgba(209, 205, 199, 0.6),
				inset -1px -1px 6px rgba(255, 255, 255, 1),
				inset 2px 2px 12px rgba(209, 205, 199, 0.6);
			

	text-shadow: 0px 0px 8px var(--accent);
	color: var(--accent);

	transition: all var(--button-transition) ease-in-out;

	transform: translateZ(0); /*enables hardware acceleration*/

}


